name: Tests
on:
  push:
    branches: 
      - main
  pull_request:
    types:
      - opened
      - synchronize

        
jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      python: ${{ steps.filter.outputs.python}}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            python:
              - 'tests/**'
              - 'src/**'
      - id: debug
        run: |
          echo "${{toJSON(steps.filter)}}"

  lint: 
    runs-on: ubuntu-latest
    needs: changes
    if: ${{needs.changes.outputs.python== 'true'}}
    steps:
      - uses: actions/checkout@v3
      - name: Install rye
        uses: eifinger/setup-rye@v1
        with:
          enable-cache: true
      - name: Install Dependencies
        run: rye sync
      - name: Lint
        run: rye run ruff .
      - name: Format
        run: rye run ruff format .

  tests:
    runs-on: ubuntu-latest
    needs: [changes, lint]
    if: ${{needs.changes.outputs.python == 'true'}}
    strategy:
      matrix:
        python-version: [3.8, 3.9, "3.10","3.11","3.12"]
    steps:

      - uses: actions/checkout@v3
      - name: Install rye
        uses: eifinger/setup-rye@v1
        with:
          enable-cache: true
      - name: Install Dependencies
        run: rye sync
      - name: Test
        run: rye run pytest
